<%= render 'topbar' %>
<div class='home'>
    <%= link_to image_tag('banner.png'), welcome_disclaimer_path %>
    <h1><%= link_to 'Get started, meet with one of our recruiters today.', welcome_disclaimer_path %></h1>
</div>
