<%= render "topbar" %>
<div class='home'>
  <span><h1>Welcome |</h1><h2>Better work, better life</h1></span>
  <%= image_tag('banner.png') %>
    <h3>Get started, <%= link_to 'register', welcome_disclaimer_path %></h3>
</div>
