div.home {
  @include span-columns(12);
  height: 100%;
  background-color: $white;

  span {
    display: inline-flex;
  }

  h1 {
    a {
      font-weight: 400;
      color: $dark-blue;
      margin-top: 1em;
      margin-bottom: 1em;
      font-size:  0.75em;
      @include shift(1 of 12);
      display: inline-table;
    }
  }

  h2 {
    margin-top: 85px;
    font-weight: 400;
    font-size: 25px;
    word-wrap: normal;
    margin-left: 20px;
    text-transform: uppercase;
    color: #315D9B;
  }

  h3 {
    @include shift (1 of 12);
    font-weight: 300;
    font-size: 30px;
    color: #315D9B;
    padding-left: 30px;
    margin-top: 20px;
  }

  a {
    font-weight: 600;
  }
}
