@charset 'utf-8';

@import 'normalize-rails';
@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';
@import 'refills/flashes';

@import 'layout/layout';
@import 'layout/topbar';
@import 'candidates';
@import 'candidate_side';
@import 'categories';
@import 'disclaimer';
@import 'home';

// @import "*";
@import "bourbon/bourbon";
@import "neat/neat";
@import "colors";
@import "availability";
@import "bhdefault_forms";
@import "bhdefault_elements";
@import "bhdefault_icons";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
// *= require_tree .

/* Buttons */

body {
  background-color: $background;
  font-family: 'Open Sans',sans-serif;
  font-weight: normal;
  text-decoration-color: $text;
}

ul {
  padding-left: 0;
  margin: 5px;
  li {
    list-style: none;
    display:inline-block;
  }
}

.dropdown {

  button:after {
    display: inline-block;
    margin-left: 8px;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
  }

  ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 4px 0 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);

    li {
      padding: .5rem .75rem;
      font-size: 14px;
      cursor: pointer;
      border-radius: 3px;

      &.divider {
        height: 1px;
        margin: 3px 0;
        overflow: hidden;
        background: #e5e5e5;
        padding: 0;
        cursor: default;

        &:hover {
          background: #e5e5e5;
        }
      }

      &:hover {
        background: $primary-blue;
        color: white;
      }

      &:before {
        margin-right: 6px;
      }
    }
  }
}
