// @import "*";
@import "bourbon/bourbon";
@import "colors";
@import "neat/neat";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
// *= require_tree .

/* Buttons */

body {
  background-color: $background;
  font-family: 'Open Sans',sans-serif;
  font-weight: normal;
  text-decoration-color: $text;
}

label {
  display: block;
  margin: 10px 0 5px 0;
}

// input[type="radio"], input[type="checkbox"] {
//   display: none;
// }

input[type="checkbox"] + label:after {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0;
  margin-top: 3px;
  margin-right: 6px;
  vertical-align: top;
  content: '';
  background: #fff;
  border: 2px solid #bbb;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;
}

ul {
  li {
    list-style: none;
    display:inline-block;
  }
}

.dropdown {

  button:after {
    display: inline-block;
    margin-left: 8px;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
  }

  ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 4px 0 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);

    li {
      padding: .5rem .75rem;
      font-size: 14px;
      cursor: pointer;
      border-radius: 3px;

      &.divider {
        height: 1px;
        margin: 3px 0;
        overflow: hidden;
        background: #e5e5e5;
        padding: 0;
        cursor: default;

        &:hover {
          background: #e5e5e5;
        }
      }

      &:hover {
        background: $primary-blue;
        color: white;
      }

      &:before {
        margin-right: 6px;
      }
    }
  }
}

.material-icons {
  color: $action-button;
}

.sched_day {
  @include span-columns(4);
  @include omega();
}

.submit {
  color: #fff;
  background-color: $primary-blue;
  border-color: $primary-blue;
  display: inline-block;
  padding: 8px 14px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.38461538;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 2px solid transparent;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
  }
  &:focus {
    outline: none;
    box-shadow: 0 2px 10px rgba(0,0,0,.19);
  }
}

.ThemeHeadingText {
    color: #222;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 10px 15px 4px;
    // background: #f6f6f6;
    // background: linear-gradient(to right, #fff, #f6f6f6 35%);
}

#circle {
  color: rgb(81, 182, 116);
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
  margin-right: 5px;
}
