@font-face {
  font-family: 'Bullhorn Glyphicons';
  src: url('../fonts/Bullhorn-Glyphicons.eot');
  src: url('../fonts/Bullhorn-Glyphicons.eot?#iefix') format('embedded-opentype'), url('../fonts/Bullhorn-Glyphicons.woff') format('woff'), url('../fonts/Bullhorn-Glyphicons.ttf') format('truetype'), url('../fonts/Bullhorn-Glyphicons.svg?#Bullhorn-Glyphicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bhi-"]:before, [class*=" bhi-"]:before {
  font-family: 'Bullhorn Glyphicons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bhi-calendar::before {
    content: "\e60a";
}
